body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.card {
  display: flex;
  align-items: center;
  height: 20vh;
}

.card .input-card {
  margin: auto;
  display: inline-block;
}

.card .input-card label {
  margin-right: 10px;
}

.card .input-card input {
  margin-right: 10px;
}

